<p id="{{id}}" class="ml-4 sm:ml-12 font-semibold">{{food_name}}</p>
<!-- add check box for deletion -->
<input type="checkbox" class="delete-checkbox mr-6 sm:mr-16 hover:cursor-pointer" name="delete">