        
                <!-- title of site --> 
        <header>
            <h1>
                <a href="/">My Pantry</a>
            </h1>
        </header>
        <br />
        <section id="site-description">
            <p>
                Welcome to My Pantry! Here you will be able to create a virtual food pantry to see what you've got on the shelves at home,
                remove items so you'll never have to guess what you're out of, and shop confidently with the knowledge you can check back
                without standing in front of the cupboard.
                
                Stick around for future development features, such as a shopping list and recipies created from your ingredients!
            </p>
            <br />
        </section><section id="login-form">
            <!-- holds the form for login using partials -->
            <p>Log In</p>
            <br />
            <form class="login-form">
                <div>
                    <label for="username-login">username:</label>
                    <input type="text" id="username-login" />
                </div>
                <br />
                <div>
                    <label for="password-login">password:</label>
                    <input type="password" id="password-login" />
                </div>
                <div>
                    <button type="submit" class="btn font-bold bg-emerald-400 rounded p-3 mb-4 sm:mb-0 mx-0 sm:ml-6 md:ml-12">login</button>
                </div>
            </form>
        </section>
        <br />
        <section id="signup-form">
            <!-- holds the form for sign up using partials -->
            <p>Create Account</p>
            <br />
            <form class="signup-form">
                <div>
                    <label for="username-signup">username:</label>
                    <input type="text" id="username-signup" />
                </div>
                <br />
                <div>
                    <label for="password-signup">password:</label>
                    <input type="password" id="password-signup" />
                </div>
                <div>
                    <button type="submit" class="btn font-bold bg-emerald-400 rounded p-3 mb-4 sm:mb-0 mx-0 sm:ml-6 md:ml-12">sign up</button>
                </div>
            </form>
        </section>

<!-- add javascript link for event handlers etc. -->
<script src="/javascript/homepage.js"></script>