<!-- template for the myPantry page -->
<section>
    <nav>
        <a href="/">Log Out</a>
    </nav>
    <h2>Welcome to {{user.username}}'s Pantry!</h2>

    <!-- new food and delete food buttons -->
    <div class="pantry-buttons">
        <button type="submit" class="btn" id="addFoodBtn">New Food</button>
        <button type="submit" class="btn" id="deleteFoodBtn">Delete Food</button>
    </div>

    <!-- conditional form -->
    <form class="conditional-form">
        <div>
            <label for="input-food">Type Food to Add</label>
            <input type="text" id="input-food" name="input-food" />
        </div>
        <button type="submit" class="btn">Save</button>
    </form>

    <!-- list of foods currently in pantry -->
    <ul>
        {{#each foods as |food|}}
        <li>
            {{> foods food}}
            <!-- add check box for deletion -->
            <label for="delete">
                <input type="checkbox" id="delete" name="delete" value="false">  Delete 
            </label>
        </li>
        {{/each}}
    </ul>

</section>


{{!-- <script src="/javascript/pantry.js"></script> --}}