<!-- template for the myPantry page -->
<section>
    <nav>
        <a href="/">Log Out</a>
    </nav>
    <h2 id="pantry-title">Welcome to {{user.username}}'s Pantry!</h2>

    <!-- new food and delete food buttons -->

    <div id="pantry-buttons" class="pantry-buttons">
        <button id="addFoodBtn" type="submit" class="btn">New Food</button>
        <button id="deleteFoodBtn" type="submit" class="btn">Delete Food</button>

    </div>

    <!-- list of foods currently in pantry -->
    <ul id="foods-list">
        {{#each foods as |food|}}
        <li class="food-li">
            {{> foods food}}
        </li>
        {{/each}}
    </ul>

</section>

<script src="/javascript/pantry.js"></script>